@import common.sass

.thsa_qg_wrapper
    padding: 10px
    padding-top: 15px

    h3
        margin: 10px 0

    .thsa_qg_discount_table1
        width: 500px

        tr
            td
                padding: 0 10px

                &:first-child
                    padding-left: 0

    
.thsa_admin_qg_tab
    margin: 0
    padding: 0

    li
        display: inline-block
        padding: 10px
        background-color: $tab_grey
        cursor: pointer
        border: 1px solid $tab_grey
        margin: 0
        border-bottom: 0

        &.active
            background-color: $tab_active

.thsa_tab_content
    padding: 20px
    border: 1px solid $tab_grey
    margin-top: -1px

    .thsa_tab_child
        display: none

        &.active
            display: block

    .thsa_qg_user_details
        margin-top: 20px

        label
            color: $label_color
        
        span
            display: block


.thsa_product_options
    .widefat.no-border
        border: 0
        td
            padding: 10px
            padding-bottom: 20px
            padding-top: 0

            &:first-child
                padding-left: 0
            &:last-child
                padding-right: 0