@import common.sass

.thsa_qg_wrapper
    padding: 10px
    position: relative

    .thsa_qg_inner
        position: relative

        &:after
            content: " "
            display: block
            clear: both

        h3
            margin: 10px 0

        .thsa_qg_table_con
            padding: 5px 0

            .main_label
                margin-left: 3px

            .thsa_qg_discount_table1

                tr
                    td
                        padding: 0 10px

                        &:first-child
                            padding-left: 0

            .thsa_qg_tail_text
                position: inline-block
                margin-left: 5px

            .thsa_qg_wide,
            .thsa_qg_wide tbody,
            .thsa_qg_wide tbody tr
                width: 100%
                display: block
                
                td
                    vertical-align: middle

            .thsa_qg_plan_fields
                display: none


        .thsa_qg_product_table,
        .thsa_qg_fees_list
            margin-bottom: 10px


        .thsa_qg_summary_box
            width: 400px
            float: right
            border: 1px solid $tab_grey

            h3
                margin: 0
                padding: 15px 20px
                background-color: $title_grey

            .thsa_qg_summary_box_numbers
                padding: 20px

            .thsa_qg_summary_box_numbers p:first-child
                margin-top: 0
            
            .thsa_qg_summary_box_numbers p:last-child
                margin-bottom: 0

            .thsa_qg_total_field_wrap
                background-color: $title_grey
                padding: 20px

                .thsa_qg_total_field
                    font-size: 25px
                    padding: 5px 10px

        .thsa_qg_plan_summary
            border-top: 1px solid #CCC
            display: none
            

    
.thsa_admin_qg_tab
    margin: 0
    padding: 0

    li
        display: inline-block
        padding: 10px
        background-color: $tab_grey
        cursor: pointer
        border: 1px solid $tab_grey
        margin: 0
        border-bottom: 0

        &.active
            background-color: $tab_active

.thsa_tab_content
    padding: 20px
    border: 1px solid $tab_grey
    margin-top: -1px

    .thsa_tab_child
        display: none

        &.active
            display: block

    .thsa_qg_user_details
        margin-top: 20px

        label
            color: $label_color
        
        span
            display: block


.thsa_product_options
    .widefat.no-border
        border: 0
        td
            padding: 10px
            padding-bottom: 20px
            padding-top: 0

            &:first-child
                padding-left: 0
            &:last-child
                padding-right: 0



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0


input[type=number]
    -moz-appearance: textfield
    text-align: right
