.thsa_qg_wrapper {
  padding: 10px;
  position: relative; }
  .thsa_qg_wrapper .thsa_qg_inner {
    position: relative; }
    .thsa_qg_wrapper .thsa_qg_inner:after {
      content: " ";
      display: block;
      clear: both; }
    .thsa_qg_wrapper .thsa_qg_inner h3 {
      margin: 10px 0; }
    .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_table_con {
      padding: 5px 0; }
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_table_con .main_label {
        margin-left: 3px; }
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_table_con .thsa_qg_discount_table1 tr td {
        padding: 0 10px; }
        .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_table_con .thsa_qg_discount_table1 tr td:first-child {
          padding-left: 0; }
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_table_con .thsa_qg_tail_text {
        position: inline-block;
        margin-left: 5px; }
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_table_con .thsa_qg_wide,
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_table_con .thsa_qg_wide tbody,
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_table_con .thsa_qg_wide tbody tr {
        width: 100%;
        display: block; }
        .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_table_con .thsa_qg_wide td,
        .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_table_con .thsa_qg_wide tbody td,
        .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_table_con .thsa_qg_wide tbody tr td {
          vertical-align: middle; }
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_table_con .thsa_qg_plan_fields {
        display: none; }
    .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_product_table,
    .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_fees_list {
      margin-bottom: 10px; }
    .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_summary_box {
      width: 400px;
      float: right;
      border: 1px solid #dedede; }
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_summary_box h3 {
        margin: 0;
        padding: 15px 20px;
        background-color: #f6f7f7; }
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_summary_box .thsa_qg_summary_box_numbers {
        padding: 20px; }
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_summary_box .thsa_qg_summary_box_numbers p:first-child {
        margin-top: 0; }
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_summary_box .thsa_qg_summary_box_numbers p:last-child {
        margin-bottom: 0; }
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_summary_box .thsa_qg_total_field_wrap {
        background-color: #f6f7f7;
        padding: 20px; }
        .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_summary_box .thsa_qg_total_field_wrap .thsa_qg_total_field {
          font-size: 25px;
          padding: 5px 10px; }
    .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_plan_summary {
      border-top: 1px solid #CCC;
      display: none; }
      .thsa_qg_wrapper .thsa_qg_inner .thsa_qg_plan_summary.active {
        display: block; }
  .thsa_qg_wrapper .thsa_qg_action p {
    text-align: center; }
  .thsa_qg_wrapper .thsa_qg_action p:first-child {
    margin-top: 0; }
  .thsa_qg_wrapper .thsa_qg_action p:last-child {
    margin-bottom: 0; }
  .thsa_qg_wrapper .thsa_qg_plan_manage_button {
    display: none; }
  .thsa_qg_wrapper .thsa_qg_plan_manage_button.active {
    display: block; }
  .thsa_qg_wrapper .thsa_qg_plan_settings {
    border: 1px solid #CCC;
    background: #F2F2F2;
    padding: 20px; }
  .thsa_qg_wrapper .thsa_qg_plan_settings p:first-child {
    margin-top: 0; }
  .thsa_qg_wrapper .thsa_qg_plan_settings p:last-child {
    margin-bottom: 0; }
  .thsa_qg_wrapper .thsa_remove_file_download {
    cursor: pointer; }
  .thsa_qg_wrapper .thsa_qg_event_action {
    display: none; }
  .thsa_qg_wrapper .thsa_qg_event_action.active {
    display: block; }
  .thsa_qg_wrapper .thsa_qg_plan_settings {
    display: none;
    margin-bottom: 20px; }
  .thsa_qg_wrapper .thsa_qg_plan_settings.active {
    display: block; }
  .thsa_qg_wrapper .thsa_qg_message {
    padding: 10px;
    border: 1px solid #dedede;
    border-left: 5px solid #ffba00;
    margin-bottom: 10px; }

.thsa_admin_qg_tab {
  margin: 0;
  padding: 0; }
  .thsa_admin_qg_tab li {
    display: inline-block;
    padding: 10px;
    background-color: #dedede;
    cursor: pointer;
    border: 1px solid #dedede;
    margin: 0;
    border-bottom: 0; }
    .thsa_admin_qg_tab li.active {
      background-color: white; }

.thsa_tab_content {
  padding: 20px;
  border: 1px solid #dedede;
  margin-top: -1px; }
  .thsa_tab_content .thsa_tab_child {
    display: none; }
    .thsa_tab_content .thsa_tab_child.active {
      display: block; }
  .thsa_tab_content .thsa_qg_user_details {
    margin-top: 20px; }
    .thsa_tab_content .thsa_qg_user_details label {
      color: #949292; }
    .thsa_tab_content .thsa_qg_user_details span {
      display: block; }

.thsa_product_options .widefat.no-border {
  border: 0; }
  .thsa_product_options .widefat.no-border td {
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 0px;
    vertical-align: bottom; }
    .thsa_product_options .widefat.no-border td:first-child {
      padding-left: 0; }
    .thsa_product_options .widefat.no-border td:last-child {
      padding-right: 0; }
    .thsa_product_options .widefat.no-border td .select2-container .select2-selection--single {
      margin-bottom: 0 !important; }
.thsa_product_options .thsa_qg_added_product_qty {
  width: 60px !important; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield;
  text-align: right; }

input.thsa_qg_set_field,
select.thsa_qg_set_field {
  width: 300px;
  display: block; }

.thsa_qg_preview_email {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none; }
  .thsa_qg_preview_email .thsa_qg_preview_email_content {
    position: relative;
    max-width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    -webkit-box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.75);
    padding: 20px;
    height: 80%; }
  .thsa_qg_preview_email .thsa_qg_preview_email_content_get {
    display: block;
    position: relative;
    height: calc(100% - 50px);
    overflow-y: auto;
    margin-bottom: 20px; }
  .thsa_qg_preview_email .thsa_qg_preview_email_content_footer {
    height: 100px; }
  .thsa_qg_preview_email .thsa_qg_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*# sourceMappingURL=thsa-qg-admin.css.map */
